# Byte-compiled / оптимизированные файлы Python
pycache/
*.py[cod]
*$py.class

# Расширения C
*.so

# Распределяемые файлы / сборки
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение (если создаёте в каталоге проекта)
env/
venv/
ENV/
env.bak/
venv.bak/

# Файлы Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Сгенерированные статические файлы (если собираете их в отдельную папку)
staticfiles/

# Медиа-файлы (если они хранятся в проекте)
media/

# Конфигурация IDE (PyCharm, VS Code и пр.)
.idea/
.vscode/

# Тесты и отчёты покрытия
.coverage
.tox/
.pytest_cache/
htmlcov/

# Прочее
*.DS_Store

.env
venv/
pycache/
__pycache__/
poetry.lock
db.sqlite3
*.pyc

# Медиа-файлы (загруженные пользователями)
media/